<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mentor-Mentee Matching System</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-table.css') }}">

        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
            <nav id="sidebar">
                <div class="sidebar-header">
                    <img id="logo" src="{{ url_for('static', filename='img/logo.png') }}">
                </div>

                <ul class="list-unstyled components">
                    
                    <!-- <li class="btn-sidebar btn-sidebar-active"> -->
                        <!-- <a id="home-btn"><img class="menu-icon" src="{{ url_for('static', filename='img/home-icon.png') }}"> &nbsp;HOME</a> -->
                    <!-- </li> -->

                    <li class="btn-sidebar">
                        <a id="newmatch-btn"><img class="menu-icon" src="{{ url_for('static', filename='img/newmatch-icon.png') }}"> &nbsp;NEW MATCH</a>
                    </li>

                    <li>
                        <a href="#recent-submenu" data-toggle="collapse" aria-expanded="false"><img class="menu-icon" src="{{ url_for('static', filename='img/recent-icon.png') }}"> &nbsp;RECENT</a>
                        <ul class="collapse list-unstyled" id="recent-submenu">
                            <li class="btn-sidebar"><a id="lastmatch-btn">LAST MATCH</a></li>
                            <li class="btn-sidebar"><a id="mentorlogs-btn">MENTOR LOGS</a></li>
                        </ul>
                    </li>
                    <li class="btn-sidebar">
                        <a id="feedback-btn"><img class="menu-icon" src="{{ url_for('static', filename='img/feedback-icon.png') }}"> &nbsp;FEEDBACK</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- page content -->
        <div id="content">
        </div>


        <footer id="copyright">
          <p>© 2018 The Fantastic 5</p>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
    </body>

</html>
