<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-table.css') }}">
<link href="{{ url_for('static', filename='css/bootstrap-table-filter-control.css') }}" rel="stylesheet">

<p class="page-title">LAST MATCH</p>

<!-- <button id="test-btn">checbox test</button> -->
<div class="grid-container" id="table-wrapper">
    <div class="left-panel">
      <table style="padding:0; margin:0; cursor:pointer;" id="last-match-table"
              data-classes="table table-hover"
              data-toolbar="#toolbar"
              data-toggle="table"
              data-height="580"
              data-sort-name="surname"
              data-sort-order="asc"
              data-search="true"
              data-strict-search="true"
		data-show-columns="true"
              data-minimum-count-columns="2"
              data-id-field="id"
              data-pagination-loop="false"
              data-maintain-selected="true"
              data-row-style="rowStyle"
              data-unique-id="student_id"
              data-filter-control="true">  
          <thead>
          <tr>
              <th data-field="selected" data-checkbox="true"></th>
              <th hidden data-field="is_mentor" data-visible="false">Mentor</th>
              <th data-field="student_id" data-sortable="true">Student ID</th>
              <th data-field="name" data-sortable="true">First Name</th>
              <th data-field="surname" data-sortable="true">Last Name</th>
		<th data-field="email" data-sortable="false">E-mail</th>
              <th data-field="faculty" data-sortable="true" data-filter-control="select">Faculty</th>
              <th data-field="program" data-sortable="true">Program</th>
          </tr>
          </thead>
      </table>
  </div>

  <div class="right-panel">

      <!-- graph -->
      <div style="position: relative; height: 25%; max-width: 250px;">
          <canvas id="engagement-chart"></canvas>
      </div>

      <!-- current group list -->
      <div></div>
  </div>

  <div class="bottom-left-panel">

        <div id="last-match-faculty-bar" class="progress" style="max-height: 5px;">

            <div class="progress-bar business" data-toggle="tooltip" title="Faculty of Business and IT (10%)"
                style="width:0%; margin: 0 1px 0 0;"></div>

            <div class="progress-bar education" data-toggle="tooltip" title="Faculty of Education (17%)"
                style="width:0%; margin: 0 1px 0 1px;"></div>

            <div class="progress-bar engineering" data-toggle="tooltip" title="Faculty of Engineering and Applied Science (23%)"
                style="width:0%; margin: 0 1px 0 1px;"></div>

            <div class="progress-bar energy" data-toggle="tooltip" title="Faculty of Energy Systems and Nuclear Science (20%)"
                style="width:0%; margin: 0 1px 0 1px;"></div>

            <div class="progress-bar health" data-toggle="tooltip" title="Faculty of Health Sciences (5%)"
                style="width:0%; margin: 0 1px 0 1px;"></div>

            <div class="progress-bar science" data-toggle="tooltip" title="Faculty of Science (8%)"
                style="width:0%; margin: 0 1px 0 1px;"></div>

            <div class="progress-bar social" data-toggle="tooltip" title="Faculty of Social Science and Humanities (17%)"
                style="width:0%; margin: 0 0 0 1px;"></div>
        </div>
  </div>

  <div class="bottom-right-panel">
      <button class="mmm-btn" style="margin: 0; float: right;">
          <a style="display:block;">
              <div><p>DOWNLOAD</p></div>
          </a>
      </button>
  </div>

</div>

<script src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-table-filter-control.js') }}"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script> -->
