<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-table.css') }}">

<p class="page-title">LAST MATCH</p>

<div style="height: calc(100% - 92px);">
    <!-- left -->
    <div id="table-wrapper" style="display: inline-block; vertical-align: top; width: 78%; height: 100%; margin-right: 15px;">

        <table style="padding:0; margin:0;" id="table"
                data-toolbar="#toolbar"
                data-toggle="table"
                data-height="580"
                data-url="{{ url_for('static', filename='json/test-data.json') }}"
                data-sort-name="id"
                data-sort-order="asc"
                data-search="true"
                data-show-columns="true"
                data-minimum-count-columns="2"
                data-id-field="id"
                data-pagination-loop="false"
                data-maintain-selected="true">
            <thead>
            <tr>
                <th data-field="role" data-checkbox="true"></th>
                <th data-field="id" data-sortable="true">Student ID</th>
                <th data-field="fname" data-sortable="true">First Name</th>
                <th data-field="lname" data-sortable="true">Last Name</th>
                <th data-field="faculty" data-sortable="true">Faculty</th>
                <th data-field="program" data-sortable="true">Program</th>
            </tr>
            </thead>
        </table>
    </div>

    <!-- right -->
    <div style="height:100%; display:inline-block; vertical-align:top; width: 20%;">

        <!-- graph -->
        <div style="border: 1px solid red; position: relative; height: 25%; width: 100%;">
            <canvas id="engagement-chart"></canvas>
        </div>

        <!-- current group list -->
        <div style="border: 1px solid lightgrey; height: calc(75% - 10px); width: 100%;"></div>

    </div>
</div>

<div style="height: 39px; text-align:right; display: inline-block; width:calc(100% - 6px);">

    <div style="border: 1px solid red; width: 79%; display: inline-block; float:left; height: 10px; margin-top:28px;">
    </div>

    <button class="mmm-btn" style="margin: 0; float: right;">
        <a style="display:block;">
            <div><p>DOWNLOAD</p></div>
        </a>
    </button>
</div>

<script src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script> -->
