<p class="page-title"><b>STEP 1:</b> UPLOAD</p>
<p>Please upload the excel sheets containing the information for mentors and mentees. They must be in two separate files, and should adhere to the format below. Please make sure both files contain the same quesitions in the same order, as this could greatly affect the accuracy of the matches.</p>
<img src="{{ url_for('static', filename='img/sample-table.png') }}" style="width:850px;">
<div>
<button style="margin-top:30px; margin-bottom:10px;" class="mmm-btn"><img class="btn-icon" src="{{ url_for('static', filename='img/upload-icon.png') }}"> UPLOAD MENTORS</button>
<p id="mentor-filename" style="display:inline; margin-left:10px;">No file selected.</p>
<br>
<button class="mmm-btn"><img class="btn-icon" src="{{ url_for('static', filename='img/upload-icon.png') }}">UPLOAD STUDENTS</button>
<p id="student-filename" style="display:inline; margin-left:10px;">No file selected.</p>
</div>
