<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{{title}}</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/data.css') }}" rel="stylesheet">
  </head>
  <body>

    <center><h1>{{title}}</h1></center>

    <br/>
    <form action = "/uploader" method = "POST" 
          enctype = "multipart/form-data">
      <input type = "file" name = "file" required/>
      <input type = "submit"/>
    </form>


  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</html>
