<p class="page-title"><b>STEP 2:</b> MATCH</p>
<p>Default settings have been set for the questions identified. If you wish, they can be changed to any number between 0 and 5, where 1 indicates low relevance and 5 indicates high relevance. <i>Questions weighted with 0 will not be taken into account</i>.<br><br>Once you are done, click the 'MATCH' button to begin the matching process.<br><br></p>
<input id="" type="checkbox"><p style="display:inline;"> &nbsp;Merge with most recent matches stored.</p><br>

<!-- table -->
<div id="step2-left-wrapper" style="display: inline-block; vertical-align: top; width: 55%;">
    <div id="questions-table-wrapper">
    </div>
    <button id="match-btn" class="mmm-btn"><div><p>MATCH</p></div></button>
</div>

<!-- loading text and buttons -->
<div id="step2-right-wrapper" style="height:100%; display:inline-block; vertical-align:top; width: 44%;">
    <div>
        <div style="display: inline-block; vertical-align: top; width: 10%; text-align:right;">
            <img id="loading-icon" src="{{ url_for('static', filename='img/step2-loading.gif') }}" class="btn-icon">
            <img style="display:none;" id="checkmark-icon" src="{{ url_for('static', filename='img/green-checkmark.png') }}" class="btn-icon">
        </div>
        <div style="display: inline-block; vertical-align: top; width: 84%;">
            <p id="match-loading-msg" style="display:inline;"> &nbsp;Matching <b><n></n></b> students...</p>
            <div id="match-success-msg">
                <p style="display: inline; color: green;"> &nbsp;<b>Successfully</b></p><p style="display:inline;"> generated <b><n></n></b> groups.</p>
            </div>
        </div>
    </div>

    <!-- buttons -->
    <div id="step2-buttons" style="margin-top: 10px;">
        <center>
            <button id="step2-email-mentors" class="mmm-btn"><div>
                <img src="{{ url_for('static', filename='./img/email-icon.png') }}" class="btn-icon">
                <p>EMAIL MENTORS</p>
            </div></button>

            <button id="step2-edit-matches" class="mmm-btn"><div>
                <img src="{{ url_for('static', filename='./img/edit-icon.png') }}" class="btn-icon">
                <p>EDIT MATCHES</p>
            </div></button>

            <button id="step2-download-btn" class="mmm-btn">
                <a href="/download" style="display: block;">
                    <div>
                        <img src="{{ url_for('static', filename='./img/download-icon.png') }}" class="btn-icon">
                        <p>DOWNLOAD MATCHES</p>
                    </div>
                </a>

            </button>
        </center>
    </div>
</div>
